<footer class="border-top text-muted bg-light">
    <div class="text-center container">
      <br>
      E-mail:
      <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">
        pedro.andrade046@gmail.com
      </a>
    </div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright
    </div>
</footer>